.App{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    z-index: 5;
    /* background: rgb(51, 60, 80); */
    /* background-color: transparent !important; */
}

/* .bg-dark {
    background-color: transparent !important;
} */

.nav-links {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navStyle {
    color: white;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .fullscreen-video-wrap {
    position: relative;
    background-color: black;
    height: 90vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 9%;
    left: 0;
    height: 91%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
  }

  .main-about {
    position: relative;
    z-index: 2;
  }

  .card {
    width: 18rem;
  }

  .card-list {
      /* list-style: none !important; */
      align-items: center;
  }

  /* .nav-options {
      display: flex;
      align-items: right;
  } */

  .card {
    display: block;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      transition: box-shadow .25s;
  }

  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .portfolio {
      margin-top: 15%;
      z-index: 5;
  }
 
  .contact-card {
    width: auto;
    max-width: 700px;
    margin-left: 12%;
    margin-top: 8%;
    /* margin: 20px; */
    justify-content: center;
    /* align-items: center; */

  }

  /* a:link {
    color: #000;
  } */

  #icon-link{
    color: #000;
  }

  .btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .btn-5:hover {
    border: 1px solid;
    /* box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2); */
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    box-shadow: 1px 1px 2px #427388; 
  }

  /* .social-link:hover {
    box-shadow: 1px 1px 2px #427388; 

  } */

  .info-button {
    margin-top: 20px;
  }

  .footer {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
  }

  